<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>key</key>
		<string>沪股</string>
		<key>value</key>
		<array>
			<dict>
				<key>code</key>
				<string>sh600000</string>
				<key>name</key>
				<string>浦发银行</string>
			</dict>
			<dict>
				<key>code</key>
				<string>sh600004</string>
				<key>name</key>
				<string>白云机场</string>
			</dict>
			<dict>
				<key>code</key>
				<string>sh600006</string>
				<key>name</key>
				<string>东风汽车</string>
			</dict>
			<dict>
				<key>code</key>
				<string>sh600007</string>
				<key>name</key>
				<string>中国国贸</string>
			</dict>
			<dict>
				<key>code</key>
				<string>sh600008</string>
				<key>name</key>
				<string>首创股份</string>
			</dict>
			<dict>
				<key>code</key>
				<string>sh600009</string>
				<key>name</key>
				<string>上海机场</string>
			</dict>
			<dict>
				<key>code</key>
				<string>sh600010</string>
				<key>name</key>
				<string>包钢股份</string>
			</dict>
			<dict>
				<key>code</key>
				<string>sh600011</string>
				<key>name</key>
				<string>华能国际</string>
			</dict>
			<dict>
				<key>code</key>
				<string>sh600012</string>
				<key>name</key>
				<string>皖通高速</string>
			</dict>
			<dict>
				<key>code</key>
				<string>sh600015</string>
				<key>name</key>
				<string>华夏银行</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>key</key>
		<string>深股</string>
		<key>value</key>
		<array>
			<dict>
				<key>code</key>
				<string>sz000001</string>
				<key>name</key>
				<string>平安银行</string>
			</dict>
			<dict>
				<key>code</key>
				<string>sz000002</string>
				<key>name</key>
				<string>万科A</string>
			</dict>
			<dict>
				<key>code</key>
				<string>sz000004</string>
				<key>name</key>
				<string>国农科技</string>
			</dict>
			<dict>
				<key>code</key>
				<string>sz000005</string>
				<key>name</key>
				<string>世纪星源</string>
			</dict>
			<dict>
				<key>code</key>
				<string>sz000006</string>
				<key>name</key>
				<string>深振业A</string>
			</dict>
			<dict>
				<key>code</key>
				<string>sz000007</string>
				<key>name</key>
				<string>全新好</string>
			</dict>
			<dict>
				<key>code</key>
				<string>sz000008</string>
				<key>name</key>
				<string>神州高铁</string>
			</dict>
			<dict>
				<key>code</key>
				<string>sz000009</string>
				<key>name</key>
				<string>中国宝安</string>
			</dict>
			<dict>
				<key>code</key>
				<string>sz000010</string>
				<key>name</key>
				<string>*ST美丽</string>
			</dict>
			<dict>
				<key>code</key>
				<string>sz000011</string>
				<key>name</key>
				<string>深物业A</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>key</key>
		<string>港股</string>
		<key>value</key>
		<array>
			<dict>
				<key>code</key>
				<string>00001</string>
				<key>name</key>
				<string>长和</string>
			</dict>
			<dict>
				<key>code</key>
				<string>00002</string>
				<key>name</key>
				<string>中电控股</string>
			</dict>
			<dict>
				<key>code</key>
				<string>00003</string>
				<key>name</key>
				<string>香港中华煤气</string>
			</dict>
			<dict>
				<key>code</key>
				<string>00004</string>
				<key>name</key>
				<string>九龙仓集团</string>
			</dict>
			<dict>
				<key>code</key>
				<string>00005</string>
				<key>name</key>
				<string>汇丰控股</string>
			</dict>
			<dict>
				<key>code</key>
				<string>00006</string>
				<key>name</key>
				<string>电能实力</string>
			</dict>
			<dict>
				<key>code</key>
				<string>00008</string>
				<key>name</key>
				<string>电讯盈科</string>
			</dict>
			<dict>
				<key>code</key>
				<string>00010</string>
				<key>name</key>
				<string>恒隆集团</string>
			</dict>
			<dict>
				<key>code</key>
				<string>00011</string>
				<key>name</key>
				<string>恒生银行</string>
			</dict>
			<dict>
				<key>code</key>
				<string>00012</string>
				<key>name</key>
				<string>恒基地产</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>key</key>
		<string>美股</string>
		<key>value</key>
		<array>
			<dict>
				<key>code</key>
				<string>微软公司</string>
				<key>name</key>
				<string>MSFT</string>
			</dict>
			<dict>
				<key>code</key>
				<string>AAPL</string>
				<key>name</key>
				<string>苹果公司</string>
			</dict>
			<dict>
				<key>code</key>
				<string>AMZM</string>
				<key>name</key>
				<string>亚马逊</string>
			</dict>
			<dict>
				<key>code</key>
				<string>GOOGL</string>
				<key>name</key>
				<string>谷歌A类股</string>
			</dict>
			<dict>
				<key>code</key>
				<string>GOOG</string>
				<key>name</key>
				<string>谷歌</string>
			</dict>
			<dict>
				<key>code</key>
				<string>FB</string>
				<key>name</key>
				<string>FaceBook</string>
			</dict>
			<dict>
				<key>code</key>
				<string>HSEA</string>
				<key>name</key>
				<string>汇丰银行</string>
			</dict>
			<dict>
				<key>code</key>
				<string>BRK.B</string>
				<key>name</key>
				<string>伯克希尔-哈撒韦B</string>
			</dict>
			<dict>
				<key>code</key>
				<string>BRK.A</string>
				<key>name</key>
				<string>伯克希尔-哈撒韦</string>
			</dict>
			<dict>
				<key>code</key>
				<string>BABA</string>
				<key>name</key>
				<string>阿里巴巴</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
